* {
  margin: 0;
  padding: 0;
}
a {
  color: #00a;
}

a:hover {
  color: #000;
}

.aboutCar{
  position: relative;
  max-width:100%;
}
.aboutFooter{
position: fixed;
bottom: 10px;

}
.aboutLayout{
  position: absolute;
  top:50px;
  color:white;
  margin-left: 50px;
  font-family: 'Satisfy', cursive;
  font-size: 5em;
}
body{
  background-image: url("");
  background-color: grey;
}

.carPic {
  max-height: 200px;

}
.carPicL{
  max-height: 100%;
}

html, body {
  height: 100%;
}

/* Literal.Number.Integer.Long */

.carList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.searchArea {
  grid-area: searchbox
}

.indexLayout {
  /*display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "index index index" "inventory video about" "contact contact contact";
  margin:100px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #369;
  height: 100vh;
}

#indexRotation {
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
  text-align: center;
}
#inventoryRotation {
  transform: rotate(90deg);
  font-family: 'Bellefair', serif;
  font-size: 5em;

}
#contactRotation {
  width: 100%;
  font-family: 'Abril Fatface', cursive;
  font-size: 5em;
  text-align: center;
}
#aboutRotation {
  transform: rotate(270deg);
  grid-area: about;
  font-family: 'Indie Flower', cursive;
  font-size: 5em;
}
.video {
  grid-area: video;

}
a:link, a:visited{

  text-decoration: none;
  color:white;
}
.mainCar {

  grid-area: car;
  max-height: 300px;
  max-width: 500px;

}

.description {
  background-color: #b02;
  color:white;
  grid-area: description;
  min-height: 300px;
}
.showcase {
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "description car" "searchbox searchbox";
  max-height: 500px;
}
.showroom{

  font-size: 5em;
  font-family:;
  color:white;
  text-align: center;
}
